body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

a:link {
    text-decoration: none; 
    color: black;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Căn giữa nội dung bên trong nav */
    align-items: center;
    padding: 20px;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Căn logo sang trái và menu sang phải */
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex: 1;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 4px 0;
}

nav a {
    text-decoration: none;
    color: rgb(52, 51, 51);
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
}

nav a:hover {
    color: black;
}

nav a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: black;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.logo {
    width: 70px;
    height: 40px;
}

nav.scrolled {
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}





/* ----------------- Màn hình thu nhỏ <thanh menu> ---------------- */
@media (max-width: 1024px) {
    .menu-toggle {
        display: flex;
        margin: 0 auto; /* Căn giữa menu-toggle */
    }
    
    #nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }
  
    #nav-list li {
        width: 100%;
        margin: 10px 0;
    }
  
    #nav-list li a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }
}






.slidebar {
    text-align: center;
    padding: 50px 20px;
    background-color: #f7f7f7;
}
.slidebar h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
.slidebar p {
    font-size: 18px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;  
}
.menu {
    text-align: center;
    margin-bottom: 20px;
}
.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.menu a.active {
    border-bottom: 2px solid black;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.grid-item {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}
.grid-item .title {
    font-weight: bold;
    margin: 10px 0 5px;
}
.grid-item .type {
    color: gray;
}

.section {
    flex: 1;
    margin: 0 20px;
}
.section h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}
.section ul {
    list-style: none;
    padding: 0;
}
.section ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #555;
    text-align: center;
}
.section ul li i {
    color: #b52424;
    margin-right: 10px;
}

/* --------------------- Footer -------------------*/

.footer {
    background-color: #F1F1F1;
    color: black;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer div {
    flex: 1;
    padding: 0 20px; /* Thay đổi khoảng cách giữa các cột */
    box-sizing: border-box;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer p, .footer a, .footer input {
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 1.6;
}

.social-icons {
    display: flex;
    flex-direction: column;
}

.social-icons a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

.social-icons img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.footer-logo {
    display: block;
    margin-bottom: 10px;
    width: 100px; 
    height: auto;
}

.footer-bottom-text {
    text-align: center;
    font-size: 14px;
    color: #777;
    /* padding: 20px 0; */
    width: 100%;
}
